---
import Badge from '@components/shared/Badge.astro'
import Icon from '@components/Icon.astro'

interface Badge {
  name: string
  icon: string
}

interface Props {
  career: { title: string; subtitle: string; icon: string; description: string; badges?: Badge[] }
}

const { title, subtitle, icon, description, badges = [] } = Astro.props.career
---

<div class="flex flex-col rounded border bg-white p-4 shadow-sm dark:bg-gray-300">
  <div class="flex items-center gap-5">
    <div
      class="flex h-10 w-10 flex-none items-center justify-center self-baseline rounded border border-blue-200 bg-blue-50 text-blue-500"
    >
      <Icon icon={icon} class="h-6 w-6" />
    </div>
    <div>
      <div class="text-xl font-semibold text-gray-800">{title}</div>
      <div class="font-light text-gray-700">{subtitle}</div>
    </div>
  </div>
  <hr class="mt-3.5 dark:border-t-gray-400" />
  <p class="mb-5 mt-3.5 flex-grow font-light text-gray-500" set:html={description} />
  <div class="flex flex-wrap gap-1">
    {
      badges.map(({ name, icon }) => (
        <Badge class="dark:border-gray-400 dark:bg-gray-300">
          <Icon icon={icon} class="h3 w-3" />
          {name}
        </Badge>
      ))
    }
  </div>
</div>
